body{
    background-image: url(../images/crowd_sea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}
.btn-default{
    background:gold;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}
#city{
    font-family: 'Righteous', cursive;
}
#state{
    font-family: 'Righteous', cursive;
}
.title{
    font-weight: 200px;
    color:gold;
    font-family: 'Monoton', cursive;
    font-size:50px;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000;
}
p{
    font-family: 'Righteous', cursive;
    font-size:20px;
    color:gold;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000;
}
form{
    float:right;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000;
}
h3,h4,h5,h6{
    color:gold !important;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000;
}
label{
    font-weight: 50px;
    font-family: 'Righteous', cursive;
    overflow-wrap: break-word;
    color:gold;
}
#eventTable{
    background-color:white;
    color:black;
    margin-bottom: 0px;
}
#eventTable tbody{
    display:block;
    overflow-y:scroll;
}
th{
    font-size:20px;
    background-color:gold;
    position: sticky; 
    top: 0;
}
.songkick{
    color:gold;
}
.modal-content {
    background-color: #000000 !important;
    border: 3px solid gray !important;
}
.modal-header, .modal-footer {
    border: none !important;
}
#playlistForm { /* this is in place to override the generic "form" styling earlier in this file */
    float: none;
}
#playlistForm button {
    margin-top: 3px;
}
.upVote {
    height: 20px;
    width: 20px;
}
.downVote {
    height: 20px;
    width: 20px;
}
.voteCounts {
    display: inline;
    font-size: 80%;
}
@media (max-width: 700px) {
    body {
        background: black;
    }
}
.table td, .table th {
    border-top: 0px; 
}