body{
    background-image: url(../images/crowd_sea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}
/* .jumbotron{
    background-image: url(../images/crowd_sea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
} */
/* .page-header{
    height: 10%;
    margin-left:10%;
    color:yellow;
    margin-bottom:40px;
    font-family: 'Monoton', cursive; */
/* } */
.btn-default{
    background:gold;
}
.title{
    font-weight: 200px;
    color:gold;
    font-family: 'Monoton', cursive;
    font-size:50px;
    margin-left:12px;
}
p{
    font-family: 'Righteous', cursive;
    font-size:20px;
    color:gold;
    margin-left:24px;
}
form{
    float:right
}
label{
    font-weight: 50px;
    font-family: 'Righteous', cursive;
    overflow-wrap: break-word;
    color:gold;
}
#eventTable{
    background-color:white;
    width: 40vw;
    max-height:300px;
    color:black;
    overflow:auto;
}
#eventTable tbody{
    display:block;
    overflow:scroll;
    height:300px;
    width:100%;
}
#eventTable thead tr{
    display:block;
}
th{
    font-size:20px;
    background-color:gold;
    position: sticky; 
    top: 0;
}
tr{
    font-size:15px;
}
.songkick{
    color:black;
}