body{
    background-image: url(../images/crowd_sea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}
.btn-default{
    background:gold;
}
.title{
    font-weight: 200px;
    color:gold;
    font-family: 'Monoton', cursive;
    font-size:50px;
}
p{
    font-family: 'Righteous', cursive;
    font-size:20px;
    color:gold;
}
form{
    float:right
}
h3,h4{
    color:gold !important;
}
label{
    font-weight: 50px;
    font-family: 'Righteous', cursive;
    overflow-wrap: break-word;
    color:gold;
}
#eventTable{
    background-color:white;
    color:black;
}
#eventTable tbody{
    display:block;
    overflow:scroll;
    height:500px;
}
th{
    font-size:20px;
    background-color:gold;
    position: sticky; 
    top: 0;
}
.songkick{
    color:gold;
}